<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="home.css" type="" />
  </head>
  <body>
    <header><h1>My Profile</h1></header>

    <img src="Image/IMG-1377.jpg" height="300" width="200" alt="Aayush" />

    <p>Name:Aayush Ogia</p>
    <p>Program: Computer Programming</p>
    <p>Student Id: 8874123</p>
    <p>Campus: Waterloo</p>

    <footer>
      <h3>Prog1935 InClass3 Assignment, 2023-07-14</h3>
    </footer>
  </body>
</html>
